BACKEND_PORT=4000
GATEWAY_PORT=3000
GATEWAY_2_PORT=3001
AGGREGATOR_PORT=4100
CONTROLLER_PORT=5000
DASHBOARD_PORT=8080
GATEWAY_INSTANCE_ID=gateway-1
BACKEND_URL=http://backend:4000
AGGREGATOR_URL=http://aggregator:4100
CONTROLLER_URL=http://controller:5000
REDIS_MASTER_NAME=mymaster
REDIS_SENTINELS=redis-sentinel-1:26379,redis-sentinel-2:26379,redis-sentinel-3:26379
REDIS_CONNECT_TIMEOUT_MS=1500
REDIS_MAX_RETRIES=2
CONTROLLER_REFRESH_MS=3000
FALLBACK_TOKENS_PER_SECOND=20
FALLBACK_BURST=40
AUDIT_LOG_STDOUT=true
